.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  padding-top: 14px;
}
li{
  font-size: 18px;
  }
.navbar-nav>li>a {
  padding-top: 12px;
  padding-bottom: 10px;
}

.navbar {
  margin-bottom: 0px;
}

