<div class="text-center">
  <div class="text-center">
    <img src="/src/app/resources/name.png">
    <h1>Cajillo - track your issue</h1>
    <div id="text" class="col-lg-4 col-lg-offset-4 text-center"> It uses project management methodologies known as
      Kanban and Scrum or your custom one; provides issue tracking and project management functions. Main features for
      agile  software  development  are plan iterations  and  task  management. Every user could be involved in
      different projects which are represented by boards with lists and cards.
    </div>
  </div>
</div>
