<div id="myForm">
  <div id="window_main_container">
    <div class="window_top_and_bottom_container">
      <div class="window_top">
        <div class="window_top_one">
          <div class="window_top_one_1">
            <i class="fa fa-window-maximize" style="font-size: 1.2rem;"></i>
            <h2>{{ticketDto.name}}</h2>
          </div>
          <div class="Todo_list">
            <h3>In a {{currentList.name}} list </h3>
          </div>
        </div>
        <div class="window_top_two">
          <p>Created by: {{ticketDto.createdByName}}</p>
          <div *ngIf="ticketDto.assignedToName">
            <p>Asigned to: {{ticketDto.assignedToName}}</p>
          </div>
        </div>
        <div *ngIf="!ticketDto.description">
          <div class="textarea_description">
            <div class="textarea_description_1">
              <div>
                <i class="fa fa-align-justify" style="font-size: 1.2rem;"></i>
              </div>
              <div class="textarea_description_text">
                <p>Description</p>
              </div>
            </div>
            <div class="textarea_description_2">
              <textarea placeholder="Add description..." rows="3" style="font-size: 0.7rem;"
                        #descriptionField></textarea>
            </div>
            <button type="submit" value="saveDescription" name="saveDescription" (click)="saveDescription(descriptionField.value)">Save description</button>


            <!--<input type="text" #createTicketField class="createTicketField">-->
            <!--<button (click)="addNewTicket(saveDescription.value, list)">Add</button>-->

          </div>
        </div>
        <div *ngIf="ticketDto.description">
          <div class="window-module">
            <div class="window-module-title window-module-title-no-divider"><span
              class="icon-description icon-lg window-module-title-icon"></span>
              <h3 class="u-inline-block"><b>Description</b></h3><a
                class="card-detail-item-header-edit hide-on-edit js-show-with-desc js-edit-desc" href="#">Edit</a>
            </div>
            <div class="u-gutter js-hide-on-minimize-desc">
              <div class="editable" attr="desc">
                <div class="description-content js-desc-content">
                  <div class="current markeddown hide-on-edit js-card-desc js-show-with-desc" dir="auto"><h2>{{ticketDto.description}}</h2>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="textarea_comment">
          <div class="textarea_comment_1">
            <div>
              <i class="fa fa-comment" style="font-size: 1.2rem;"></i>
            </div>
            <div class="textarea_description_text">
              <p>Comments</p>
            </div>
          </div>
          <div class="textarea_comment_2">
            <div class="textarea_comment_2_textarea">
              <textarea placeholder="Put comment here..." rows="3" style="font-size: 0.7rem;"></textarea>
            </div>
          </div>
        </div>

        <button type="submit" value="Зберегти" name="Зберегти">Save comment</button>

      </div>
      <div class="window_bottom">

        <div *ngFor="let comment of ticketDto.comments" class="window_bottom_2">
          <div *ngIf="!(comment.commentStatus === 'DELETED')">
            <div class="window_bottom_2_person_main">
              <div class="window_bottom_2_person">
                <p> {{comment.userName}} <span>{{comment.updateTime}}</span></p>
                <div class="window_bottom_2_comment">
                  <h3>{{comment.message}}</h3>
                </div>
                <div class="window_bottom_2_person_change">
                  <i class="fa fa-trash"></i>
                  <span> Edit </span> <span (click)="deleteComment(comment)"> Delete </span>
                </div>
                <div class="fake"></div>
              </div>
            </div>
          </div>

          <!--<div class="window_bottom_2" *ngFor="let comment of ticketDto.comments">-->
          <!--<div class="window_bottom_2_person_main">-->
          <!--<div class="window_bottom_2_person">-->
          <!--<p> Vitalii Bedeshko приєднався(-лась) до цієї картки</p>-->
          <!--<div class="window_bottom_2_comment_time">-->
          <!--<p> 14 хвилин тому </p>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--<hr>-->
        </div>
      </div>
    </div>


    <div class="window_right_bar">
      <div class="cross" (click)="closeForm()">
      </div>
      <div class="right_top_bar">
        <div class="Add_card">
          <div class="h5_name">
            <h5> Actions: </h5>
          </div>
          <a href="#">
            <div class="button1"><i class="fa fa-times-circle"></i>Термін</div>
          </a>
          <a href="#">
            <div class="button1"><i class="fa fa-paperclip"></i>Вкладення</div>
          </a>
          <a href="#">
            <div class="button1"><i class="fa fa-paperclip"></i>Вкладення</div>
          </a>
          <a href="#">
            <div class="button1"><i class="fa fa-paperclip"></i>Show ticket logs</div>
          </a>

          <div class="button1" (click)="deleteTicket(ticketDto)">Archive ticket</div>

        </div>
      </div>
    </div>
  </div>
</div>
