<div id="closeForm" (click)="closeForm()"></div>
<app-ticket [ticketDto]="ticketDto"></app-ticket>
<div id="sidenav-history" *ngIf="!isChangeBackgroundButtonClicked">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <div class="change-background">
    <a (click)="changeIsChangeBackgroundButtonClicked()" class="change-background-a">Change background</a>
  </div>
  <p align="center">History</p>
  <hr>
  <div *ngIf="currentBoard" class="logs-wrapper">
    <div *ngFor="let log of currentBoard.logs" class="log">
      <span style="float: left">{{log.username}}</span><span style="float: right">{{log.createTime}}</span><br>
      <p>{{log.message}}</p>
      <hr>
    </div>
    <div class="show-more-logs">
      <a (click)="addNewLogs()">Show more logs</a>
    </div>
  </div>
</div>

<div id="sidenav-background-image" *ngIf="isChangeBackgroundButtonClicked">
  <a href="javascript:void(0)" class="closebtn" (click)="closeBackgroundNav()">&times;</a>
  <div align="center">
    <div class="clear-background">
      <div (click)="clearBoardBackground(currentBoard.id)">Clear background</div>
    </div>
  </div>
  <div align="center">
    <div (click)="getExistingImagesUrls(currentBoard.id)" class="existingImages">Existing images</div>
    <div *ngIf="existingImagesUrls" class="existingImages-images">
      <div *ngFor="let url of existingImagesUrls" class="url-image">
        <a (click)="setExistingImageOnBackground(url)">
          <img src="{{url}}" alt="" width="150" height="150" class="cloud-image">
        </a>
      </div>
    </div>
  </div>
  <hr>
  <div class="add-local-image" align="center">
    <div align="center">Add local image</div>
    <br>
    <input #imageLocalFile type="file" accept="image/*" (change)="getImageByLocalImage($event)"><br>
    <img src="{{image}}" alt="" width="350" height="200"><br>
    <button (click)="changeBackgroundImage()">Enter</button>
    <div id="error-message-local-image"></div>
    <hr>
  </div>
</div>

<div *ngIf="currentBoard.boardType === 'CUSTOM'">

  <div class="board-wrapper">
    <div *ngIf="currentBoard">

      <div class="upper-board" *ngIf="!isEditBoardClicked">
        <p align="center"><span class="boardName">{{currentBoard.name}}</span>
          <a (click)="editBoardClick()" class="editBoardButton">Edit</a>
          <span style="font-size:30px;cursor:pointer" class="open-history-button"
                (click)="openHistorySidenav()">&#9776; open history</span></p>
      </div>
      <div class="upper-board" *ngIf="isEditBoardClicked">
        <p align="center">
          <input #nameField type="text" value="{{currentBoard.name}}">
          <button (click)="editBoard(nameField.value)" class="editButton">Set</button>
          <button (click)="editBoardClick()" class="back">Back</button>
          <span style="font-size:30px;cursor:pointer" class="open-history-button"
                (click)="openHistorySidenav()">&#9776; open history</span>
        </p>
      </div>
      <div class="board" [ngStyle]="{ 'background-image': 'url(' + confirmedImage + ')'}" dragula="LISTS"
           [(dragulaModel)]="currentBoard.tableLists">
        <div *ngFor="let list of currentBoard.tableLists" class="list-wrapper" id="list{{list.id}}">
          <div class="list">
            <div class="list-header">
              <div *ngIf="!list.isEditListNameInProgress">
                <p align="center">{{list.name}}</p>
                <div class="options">
                  <a (click)="setEditableListName(list)" class="options-text">Edit</a>
                  <a (click)="deleteList(list)" class="options-text">Delete</a>
                </div>
              </div>
              <div *ngIf="list.isEditListNameInProgress">
                <p>
                  <input #editValue type="text" value="{{list.name}}" class="editField"><br>
                  <button (click)="editList(list, editValue.value)" class="editButton">Set</button>
                  <button (click)="setEditableListName(list)" class="back">Back</button>
                </p>
              </div>
            </div>
            <div class="ticket-list-wrapper" dragula="TICKETS" [(dragulaModel)]="list.ticketsForBoardResponse">
              <div class="list-tickets" *ngFor="let ticket of list.ticketsForBoardResponse" id="{{ticket.id}}"
                   (click)="getTicket(ticket.id)">
                <div class="ticket">
                  <span class="ticket-name">{{ticket.name}}</span>
                </div>
              </div>
            </div>

            <div class="list-footer">
              <div *ngIf="!list.isAddNewTicketClicked">
                <p align="center">
                  <a (click)="clickAddNewTicket(list)" class="add-new-ticket">Add new ticket</a>
                </p>
              </div>
              <div *ngIf="list.isAddNewTicketClicked">
                <p align="center">
                  <input type="text" #createTicketField class="createTicketField" required>
                  <button (click)="addNewTicket(createTicketField.value, list)">Add</button>
                  <button (click)="clickAddNewTicket(list)">Back</button>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!isAddListButtonClicked" class="list-wrapper">
          <a (click)="changeButtonClick()" class="add-list-a">
            <div class="addList addListButton"><p align="center">Add List</p></div>
          </a>
        </div>
        <div *ngIf="isAddListButtonClicked" class="list-wrapper">
          <div class="createList addListButton">
            <input type="text" #enteredName class="newListTextfield">
            <div class="buttons">
              <button (click)="addList(enteredName.value)" class="addListButtons">Add</button>
              <button class="back addListButtons" (click)="changeButtonClick()">Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="currentBoard.boardType === 'SCRUM'">
  <div *ngIf="!isEditBoardClicked">
    <p align="center"><span class="boardName">{{currentBoard.name}}</span>
      <span (click)="editBoardClick()" class="editBoardButton">Edit</span>
      <span style="font-size:30px;cursor:pointer" class="open-history-button"
            (click)="openHistorySidenav()">&#9731; open history</span></p>
  </div>
  <div *ngIf="isEditBoardClicked">
    <p align="center">
      <input #nameField type="text" value="{{currentBoard.name}}">
      <button (click)="editBoard(nameField.value)" class="editButton">Set</button>
      <button (click)="editBoardClick()" class="back">Back</button>
    </p>
  </div>
  <div>
    <app-sprint [currentBoard]="currentBoard"></app-sprint>
  </div>
</div>
