.list-wrapper {
  width: 272px;
  margin: 0 4px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

* {
  font-size: 20px;
}

.board {
  user-select: none;
  white-space: nowrap;
  /*margin-bottom: 8px;*/
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 8px;
  position: absolute;
  width: 100%;
  padding-top: 50px;
  top: 45px;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
}



.addListButton {
  background: #e2e4e6;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}

.newListTextfield {
  margin: 3px;
}

.addListButtons {
  float: left;
  width: 50px;
  margin: 3px;

}

.back {
  width: 60px;
}

.list {
  background: #e2e4e6;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}

.options {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 15px;
}

.options-text {
  text-decoration: none;
  color: cadetblue;
  margin: 3px;
  cursor: pointer;
}

.editField{
  width: 220px;
}

.editButton{
  width: 50px;
}

.ticket {
  border-radius: 3px;
  background-color: white;
  width: 250px;
  margin: 10px;
}

.editBoardButton {
  text-decoration: none;
  color: cadetblue;
  margin: 3px;
  cursor: pointer;
}

.boardName {
  font-size: 30px;
  padding: 10px;
}

.ticket-list-wrapper {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 4px;
  z-index: 1;
  min-height: 0;
}

.list-tickets {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 #ccc;
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  word-wrap: break-word;
}

.ticket-name {
  text-align: center;
}

#sidenav-history {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100000;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background-color: #edeff0;
}

#sidenav-background-image {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 100000;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background-color: #edeff0;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
  color: black;
}

.open-history-button {
  float: right;
}

.log {
  margin: 10px;
  background-color: white;
  border-radius: 5px;
}

.logs-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 60px;
}

.show-more-logs {
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
}

.show-more-logs:hover {
  background-color: darkgrey;
}

.show-more-logs:active{
  background-color: #8c8c8c;
}

.change-background {
  text-align: center;
  width: 200px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.change-background:hover {
  background-color: darkgrey;
}

.change-background:active {
  background-color: #8c8c8c;
}

.sidenav-back-button {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  text-decoration: none;
  cursor: pointer;
}

#error-message-local-image {
  color: red;
}

.upper-board {
  background-color: #e2e4e6;
}

.gu-mirror {
  display: none;
}

#closeForm {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 200;
  background-color: #8080804d;
}
