<div id="closeForms" (click)="closeForm()"></div>
<app-ticket [ticketDto]="ticket"></app-ticket>

  <!--BOARD NANE-->
<div align="center" class="boardName">{{currentBoard.name}}</div>
<div class="col-sm-4">
  <div class="col-sm-12">
    <!--BACKLOG-->
    <div align="center" class="backlog-name"> <b>{{ currentBoard.backlog.label }}</b></div>
    <!--BACKLOG TICKETS-->
    <div class="ticket-sprint-wrapper" align="center" dragula="ITEMS" style="background: #e2e4e6; padding: 5px" id="sprint{{ currentBoard.backlog.id }}">
      <div class="ticket text" *ngFor="let ticketBacklog of currentBoard.backlog.ticketsForBoardResponse"
            id="{{ ticketBacklog.id + 'list' + ticketBacklog.tableListId }}"
           (click)="getTicket(ticketBacklog.id)">
        <span class="ticket-name" >{{ ticketBacklog.name }}</span>
      </div>
    </div>
    <div align="center" *ngIf="!isAddNewTicketClicked" style="background: #e2e4e6; padding: 5px">
      <span class="glyphicon glyphicon-plus" aria-hidden="true" (click)="clickAddNewTicket(currentBoard.backlog)"> Add new issue</span>
    </div>
    <div *ngIf="isAddNewTicketClicked">
      <input type="text" class="forsm-control form-control" #createTicketField>
      <button type="button" class="btn btn-success h2" (click)="addNewTicket(createTicketField.value, currentBoard.backlog)">Add</button>
      <button type="button" class="btn btn-default h2" (click)="clickAddNewTicket(currentBoard.backlog)">Back</button>
    </div>
  </div>
</div>


<div class="col-sm-8">
  <div class="col-sm-12">
    <!--TITLE-->
    <div align="center" class="backlog-name"> <b>Sprints </b>
      <!--SORTING-->
      <label class="radio-inline"><input type="radio" name="optradio" (click)= "noSort()" checked>No Sort</label>
      <label class="radio-inline"><input type="radio" name="optradio" (click)= "sortFuncByName()">By Name</label>
      <label class="radio-inline"><input type="radio" name="optradio" (click)= "sortFuncByStartDate()">By Start Date</label>
    </div>

    <div class="" align="center" dragula="SPRINTS" [(dragulaModel)]="currentBoard.sprints" style="background: #e2e4e6; padding: 5px">
      <div class="sprint text" *ngFor="let sprintS of currentBoard.sprints" id="sprint{{ sprintS.id }}"
           (click)="getSprint(sprintS.id)">
        <div align="left" class="handle">
          <button type="button" class="close" aria-label="Close" (click)="moveToArchiveSprint(sprintS)"><span aria-hidden="true">&times;</span></button>
          <span *ngIf="sprintS.sprintStatus === 'ACTIVE'" style="color: green"> Active</span>
          <span *ngIf="sprintS.sprintStatus === 'CREATED'" style="color: orange"> Created </span>
          <span *ngIf="sprintS.sprintStatus === 'COMPLETED'" style="color: darkgrey">Completed</span>
        </div>
        <div class="handle">
          <span *ngIf="!sprintS.isEditSprintClicked">
            <div class="glyphicon glyphicon-pencil" (click)="editSprintClick(sprintS)"><b>{{sprintS.label}}</b></div>
          </span>
          <span *ngIf="sprintS.isEditSprintClicked">
            <b>{{sprintS.label}}</b>
            <input #nameField type="text" value="{{sprintS.label}}">
            <button type="button" class="btn btn-success h2" (click)="editSprint(nameField.value, sprintS)">Set</button>
            <button type="button" class="btn btn-default h2" (click)="editSprintClick(sprintS)">Back</button>
          </span>
        </div>
        <div class="handle" align="right">
          <!--BUTTOMS-->
          <span *ngIf="sprintS.sprintStatus === 'ACTIVE'">
          <button type="button" class="btn btn-success h2" (click)="openForm()" disabled> Start Sprint </button>
          <button type="button" class="btn btn-danger h2" (click)="finishSprint(sprintS)">Finish</button>
          </span>
          <span *ngIf="sprintS.sprintStatus != 'ACTIVE'">
          <button type="button" class="btn btn-success h2" (click)="openForm()"> Start Sprint </button>
          <button type="button" class="btn btn-danger h2" (click)="finishSprint(sprintS)" disabled>Finish</button>
          </span>
        </div>
        <div class="ticket-sprint-wrapper" align="center" dragula="ITEMS">
          <div class="ticket-sprint text" *ngFor="let ticketS of sprintS.ticketsForBoardResponse" [innerHTML]="ticketS.name"
               id="{{ ticketS.id  + 'list' + ticketS.tableListId }}"
               (click)="getTicket(ticketS.id)">
            <span class="ticket-name">{{ ticketS.name }}</span>
          </div>
        </div>
      </div>
    </div>
    <div align="center" *ngIf="!isAddSprintButtonClicked" style="background: #e2e4e6; padding: 5px">
      <span class="glyphicon glyphicon-plus" aria-hidden="true" (click)= "addSprintButtonClick()"> Add new sprint</span>
    </div>
    <div *ngIf="isAddSprintButtonClicked">
      <input type="text" class="forsm-control form-control" #sprintName placeholder="Sprint name">
      <button type="button" class="btn btn-success h2" (click)="addSprint(sprintName.value, currentBoard.id)">Add</button>
      <button type="button" class="btn btn-default h2" (click)="changeButtonClick()">Back</button>
    </div>
  </div>
</div>

<div id="myForms">
  <div class="col-sm-12" id="window_main_containers">
    <div class="col-sm-12">
      <div align="center"> <h1 class="sprint">{{ currentSprint.label }}</h1>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-12">
          <div class="col-sm-4 "> <h4>Start Date:</h4> </div>
          <div class="col-sm-8">
            <input #startDateField class="form-control" type="date" value="2018-08-28" required="required">
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-4 "> <h4>End Date:</h4> </div>
          <div class="col-sm-8">
            <input #endDateField class="form-control" type="date" value="2018-08-28" required="required">
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-4 "><h4 >Goal:</h4></div>
          <div class="col-sm-8">
            <div class="form-group green-border-focus">
              <textarea #goalField type="text" class="form-control" rows="3"></textarea>
            </div>
          </div>
        </div>
        <div>
          <div align="center" class="col-sm-8 col-sm-offset-4">
            <button class="btn btn-default h2" (click)="closeForm()">Cancel</button>
            <button class="btn btn-primary h2" (click)="saveSprint(startDateField.value, endDateField.value, goalField.value, currentSprint)">Save</button>
            <button class="btn btn-success h2" (click)="startSprint(startDateField.value, endDateField.value, goalField.value, currentSprint)">Start</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


