<div id="closeForms" (click)="closeForm()"></div>
<!--<app-ticket [ticketDto]="ticket"></app-ticket>-->

  <!--BOARD NANE-->
<div align="center" class="boardName">{{currentBoard.name}}</div>
<div class="col-sm-4">
  <div class="col-sm-12">
    <!--BACKLOG-->
    <div align="center" class="backlog-name"> <b>{{ currentBoard.backlog.label }}</b></div>
    <!--BACKLOG TICKETS-->
    <div align="center" dragula="TICKETSINSPRINT" [(dragulaModel)]="currentBoard.backlog.ticketsForBoardResponse" style="background: #e2e4e6; padding: 5px">
      <div class="ticket text" *ngFor="let ticketBacklog of currentBoard.backlog.ticketsForBoardResponse" id="{{ticketBacklog.id}}"
           (click)="getTicket(ticketBacklog.id)">
        <span class="ticket-name">{{ticketBacklog.name}}</span>
      </div>
    </div>
    <div align="center" *ngIf="!isAddNewTicketClicked" style="background: #e2e4e6; padding: 5px">
      <button type="button" class="btn btn-primary main-button" (click)="clickAddNewTicket(currentBoard.backlog)">{{"Add new issue" | translate}}</button>
    </div>
    <div *ngIf="isAddNewTicketClicked">
      <input type="text" class="forsm-control form-control" #createTicketField>
      <button type="button" class="btn btn-success h2" (click)="addNewTicket(createTicketField.value, currentBoard.backlog)">{{"Add" | translate}}</button>
      <button type="button" class="btn btn-default h2" (click)="clickAddNewTicket(currentBoard.backlog)">{{"Back" | translate}}</button>
    </div>
  </div>
</div>

<div class="col-sm-8">
  <!--ADD BUTTON-->
  <div style="margin: 10px">
    <div *ngIf="!isAddSprintButtonClicked">
      <button type="button" class="btn btn-primary main-button" (click)= "addSprintButtonClick()"> {{"Add Sprint" | translate}} </button>
      <!--SORTING-->
      <label class="radio-inline"><input type="radio" name="optradio" (click)= "noSort()" checked>{{"No Sort" | translate}}</label>
      <label class="radio-inline"><input type="radio" name="optradio" (click)= "sortFuncByName()">{{"By Name" | translate}}</label>
      <label class="radio-inline"><input type="radio" name="optradio" (click)= "sortFuncByStartDate()">{{"By Start Date" | translate}}</label>
      <!--SORTING-->
    </div>
    <div *ngIf="isAddSprintButtonClicked">
      <input type="text" class="forsm-control form-control" #sprintName placeholder="{{'Sprint name' | translate}}">
      <button type="button" class="btn btn-success h2" (click)="addSprint(sprintName.value, currentBoard.id)">{{"Add" | translate}}</button>
      <button type="button" class="btn btn-default h2" (click)="changeButtonClick()">{{"Back" | translate}}</button>
    </div>
  </div>
  <!--SPINTS-->
  <div dragula="SPRINTS" [(dragulaModel)]="currentBoard.sprints">
    <!--FOR EACH SPRINT-->
    <div class="col-sm-12" *ngFor="let sprint of currentBoard.sprints" id="{{sprint.id}}"
         (click)="getSprint(sprint.id)" style="background: #e2e4e6; margin: 5px; padding: 10px">
      <!--SPRINT CONTAINER-->
      <div class="col-sm-8">
        <div class="col-sm-12">
          <!--SPRINT STATUS-->
          <span *ngIf="sprint.sprintStatus === 'ACTIVE'" style="color: green"> {{"Active" | translate}}</span>
          <span *ngIf="sprint.sprintStatus === 'CREATED'" style="color: orange"> {{"Created" | translate}} </span>
          <span *ngIf="sprint.sprintStatus === 'COMPLETED'" style="color: darkgrey">{{"Completed" | translate}}</span>
        </div>
        <!--EDIT NAME-->
        <div class="backlog-name">
          <span *ngIf="!sprint.isEditSprintClicked">
            <div class="glyphicon glyphicon-pencil" (click)="editSprintClick(sprint)"><b>{{ sprint.label }}</b></div>
          </span>
          <span *ngIf="sprint.isEditSprintClicked">
            <b>{{ sprint.label }}</b>
            <input #nameField type="text" value="{{sprint.label}}">
            <button type="button" class="btn btn-success h2" (click)="editSprint(nameField.value, sprint)">{{"Set" | translate}}</button>
            <button type="button" class="btn btn-default h2" (click)="editSprintClick(sprint)">{{"Back" | translate}}</button>
          </span>
        </div>
      </div>
      <div class="col-sm-3">
        <!--BUTTOMS-->
        <span class="bottom-right" *ngIf="sprint.sprintStatus === 'ACTIVE'">
          <button type="button" class="btn btn-success main-button" (click)="openForm()" disabled> {{"Start Sprint" | translate}} </button>
          <button type="button" class="btn btn-danger main-button" (click)="finishSprint(sprint)">{{"Finish" | translate}}</button>
        </span>
        <span class="bottom-right" *ngIf="sprint.sprintStatus != 'ACTIVE'">
          <button type="button" class="btn btn-success main-button" (click)="openForm()"> {{"Start Sprint" | translate}} </button>
          <button type="button" class="btn btn-danger main-button" (click)="finishSprint(sprint)" disabled>{{"Finish" | translate}}</button>
        </span>
      </div>
      <div class="col-sm-1">
        <!--TRASH-->
        <button type="button" class="close" aria-label="Close" (click)="moveToArchiveSprint(sprint)"><span aria-hidden="true">&times;</span></button>
      </div>
      <br>
      <div class="col-sm-12" dragula="TICKETSINSPRINT" [(dragulaModel)]="sprint.ticketsForBoardResponse">
        <div class="ticket-sprint text" *ngFor="let ticketSprint of sprint.ticketsForBoardResponse" id="{{ticketSprint.id}}"
             (click)="getTicket(ticketSprint.id)">
          <div class="ticket-name">{{ticketSprint.name}}</div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>

<div id="myForms">
  <div class="col-sm-12" id="window_main_containers">
    <div class="col-sm-12">
      <div align="center"> <h1 class="sprint">{{ currentSprint.label }}</h1>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-12">
          <div class="col-sm-4 "> <h4>{{"Start Date" | translate}}:</h4> </div>
          <div class="col-sm-8">
            <input #startDateField class="form-control" type="date" value="2018-08-28" required="required">
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-4 "> <h4>{{"End Date" | translate}}:</h4> </div>
          <div class="col-sm-8">
            <input #endDateField class="form-control" type="date" value="2018-08-28" required="required">
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-4 "><h4 >{{"Goal" | translate}}:</h4></div>
          <div class="col-sm-8">
            <div class="form-group green-border-focus">
              <textarea #goalField type="text" class="form-control" rows="3"></textarea>
            </div>
          </div>
        </div>
        <div>
          <div align="center" class="col-sm-8 col-sm-offset-4">
            <button class="btn btn-default h2" (click)="closeForm()">{{"Back" | translate}}</button>
            <button class="btn btn-primary h2" (click)="saveSprint(startDateField.value, endDateField.value, goalField.value, currentSprint)">{{"Save" | translate}}</button>
            <button class="btn btn-success h2" (click)="startSprint(startDateField.value, endDateField.value, goalField.value, currentSprint)">{{"Start" | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
